<div class="featured-content">
  <h2> Classify this image:</h2>
  <div class="row-12">
    <div class="col-md-6">
      <form method="POST" action="/update">
        <input type="hidden" name="url" value="{{ url }}">
        {% for label in task.labels %}
          <input type="checkbox" name="label" value="{{ label }}" style="width: 25px; height: 25px;"> {{ label }}<br>
        {% endfor %}
        <br/>
        <input type="submit" class="btn btn-primary" value="Submit">
        <a class="btn btn-info" href="/"> Later </a>
      </form>
    </div>
    <div class="col-md-6">
      <img src="{{ data_url}}" class="img-fluid img-thumbnail" width="100%"/>
    </div>
  </div>
  <hr/>
  <div class="row">
    <p> <i> <small>This image is from {{ url }}</small></i></p>
  </div>
</div>
