<div class="featured-content">
  <h4> Teach me what is inside this image?</h4>
  <div class="row-12">
    <div class="col-md-6">
      <form method="POST" action="/update">
        <input type="hidden" name="url" value="{{ url }}">
        {% for label in task.labels %}
          <input type="checkbox" name="label" value="{{ label }}"> {{ label }}<br>
        {% endfor %}
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="col-md-6">
      <img src="{{ data_url}}" />
    </div>
  </div>
  <hr/>
  <div class="row">
    <p> <i> <small>This image is from {{ url }}</small></i></p>
  </div>
</div>
